<h1>Books</h1>

<table>
  <tr>
    <th>Where</th>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>ISBN</th>
  </tr>

<% @books.each do |book| 
  if book.collection.permitted?(current_user,:browse) then %>
  <%= render :partial=>"row", :locals => {
  :book=>book,:columns=>[:owner_shelf] 
  } %>
<%   end
  end
%>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
