/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

form#organize select {
    width: 10em;
}
form#organize select#mark {
    width: 2.5em;
}
form#organize ul#toolbar {
    list-style: none; 
    margin: 0; padding: 0;
}

form#organize ul#toolbar li { 
    display: inline; 
    margin: 0 2em 0 0;
}



td.check,th.check {
    width: 1.5em;
    margin: 0; padding: 0;
    text-align: center;
}
th.check {
    padding-left: 4px;
}
 

form#organize table {
    margin-top: 8px;
    width: 100%;
}

form#organize table col.added { width: 17em; }
form#organize table col.title { width: 18em; }
form#organize table col.author { width: 18em; }

form#organize table tr {
    background-color: #ddf;
    border-style: solid;
    border-color: #bbb;
    border-width: 1px 1px 1px 1px;
}

form#organize th {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    background-color: #ccd;
}



div.pagination {
    width: 80%;
    background-color: #dde;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #889;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div.pagination a,em.current {
    padding: 4px 1em;
    font-size: 110%;
}
div.pagination em.current {
    font-weight: bold;
}
div.pagination a {
    color: #a00;
}