img#logo_bookend_right {    float: right; }
img#logo_bookend_left {    float: left; }
img#logo { margin-left: auto; margin-right: auto; display: block  }
header {
    background-color: #ffe;
    margin: 0px; border: 0px; 
}
header #session {
    position: absolute;
    right: 4em; top: 0.5em;
    font-weight: bold;    
    z-index: 1;
}
.divider {
    margin-top: 0.5em;
    height: 10px;
    background-image: url("/logo-horizontal-rule.png");
    background-repeat: repeat-x;
}
table tr td,th {
    padding: 0.4em 1em;
}
table th {
    font-weight: bold;
    text-align: left;
}

h1,h2,h3,h4 {
    font-weight: bold;
}

ul li {
    marker-style: circle;
    margin-left: 2em;
}
ul {
    margin-bottom: 0.5em;
}

ul.tabs {
    margin: 0; padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999; 
    width: 98%;
}
ul.tabs li {
        float: left;
        margin: 0;
        padding: 0;
        height: 31px; /*--Subtract 1px from the height of the unordered list--*/
        line-height: 31px; /*--Vertically aligns the text within the tab--*/
        border: 1px solid #999;
        border-left: none;
        margin-bottom: -1px; /*--Pull the list item down 1px--*/
        overflow: hidden;
        position: relative;
        background: #dda;
}
ul.tabs li a {
        text-decoration: none;
        color: #000;
        display: block;
        font-size: 1.2em;
        padding: 0 20px;
        border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
        outline: none;
}
ul.tabs li a:hover {
        background: #cc9;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
        background: #fff;
        border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
div.tab_container {
    border: 1px solid #999;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left; width: 98%;
    background: #ffe;
}
.tab {
    padding: 20px;
    display: none;
}
/* this is more specific than the previous selector to ensure we override
 * the "display" */
div.tab_selected {
    display: block;
}

article {
    margin-left: 2em;
    margin-top: 1em;
}
aside {
    position: absolute;
    width: 30%;
    -webkit-border-image: url("/grey-border.png") 5 5 5 5 repeat;
    border-image: url("/grey-border.png") 5 5 5 5 repeat;
    background-color: #eec;
    border-width: 3.5px;
    right: 1em;
    padding: 1em;
}
    

footer {
    color: #555;
    font-size: 90%;
    text-align: center;
    position: absolute;
    width: 100%;
    display: block;
    bottom: 0.5em;
    background-color: #ffe;
}
footer .divider {
    margin-bottom: 0.5em;
}

h1 { font-size: 150%; margin-top: 1em; margin-bottom: 1em; }
h2 { font-size: 130%; margin-top: 1em; margin-bottom: 0.5em; }
h3 { font-size: 110%; }

form select,input {
    -webkit-border-image: url("/button-border.png") 7 7 7 7 repeat;
    border-image: url("/button-border.png") 0 0 0 0 stretch;
    background-color: #eec;
    border-width: 3.5px;
}
form select,input[type=text] {
    width: 20em;
}
form label {
    width: 6em;
    display: inline-block;
}

form input:disabled {
    background-color: #ccb;
    foreground-color: #444;
}


div.todo {
    font-style: oblique;
    color: #a44;
    background-color: #fdd;
    margin: 3em; padding: 1em;
}
div.todo:before {
    content: "TO DO: ";
    font-weight: bold;
    color: #444;
}