/* -*- css -*- mode please */
@import "includes.css.scss";

#friend_dialog {
    display: none;
    padding: 0; border: 0; margin: 1em 0;
    div.clicky {
	float: left;
        width: 80px; // thumbnails are 48px
	margin-bottom: 2em;
	text-align: center;
	font-size: 8pt;
	line-height: 95%;
	color: black;
	img {
	    padding: 2px; 
	    border: 1px solid $border-blue ;
	    margin: 4px; 	   
	    display: inline;
	}
	a {
	    opacity: 0.8;
	}
	a:hover {
	    opacity: 1;
	    img {
		background-color: $border-blue;
	    }
	}
	a:hover {
	    background-color: transparent;
	}
    }
}