<!DOCTYPE html>
<html>
<head>
  <title>Exlibris</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<img id="logo_bookend_left" src="/logo-bookend-left.png">
<img id="logo_bookend_right" src="/logo-bookend-right.png">
<img id="logo" alt="Ex Libris" src="/logo-text.png">
<div class="divider" clear="both"> </div>
</header>
<article>
<%= yield %>
</article>
<footer>
<div class="divider" clear="both"> </div>
Site Copyright &copy;2011 Daniel Barlow.  User-generated content is
  the property of individual users.
</footer>
</body>
</html>
